article{

display: flex;
flex-direction: row;
padding-bottom: 30px;
}

img{

    width: 800px;
    height: 800px;
.0
}

.titolo{
    
    color:red;
    font-size:40px;
    font-weight:400;
    
}

p{
    
    color:blue;
    font-size:20px;
    font-weight:200;
}

h1{
    
    color:RGB(128,0,0);
    font-size:60px;
    font-weight:600;
}

.1{
            position:absolute;
            z-index:-1
            height:100%;
            background-image:url(1.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat;

}

-.2{
    
            height:100%;
            background-image:url(2.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat;
 
    
}   
.3{
    
            height:100%;
            background-image:url(3.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat;  
    
}

.4{
    
            height:100%;
            background-image:url(4.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat; 
    
}

.5{
    
            height:100%;
            background-image:url(5.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat;
    
}

.6{
    
            height:100%;
            background-image:url(6.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat;
    
}
